:8181 {
	# log {
	# 	level debug
	# }
	# Serve the static site from the dist folder
	root * ./dist
	file_server

	# Enable gzip or brotli compression to reduce payload sizes
	encode zstd gzip
}

:8080 {
	reverse_proxy localhost:5173
}
